.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.gallery-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.gallery-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}